.blur-md {
  filter: blur(10px);
  background-color: #00000082;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.relative {
  position: relative;
}
.absolute-center {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.bg-white {
  background-color: white;
}
.opacity-60 {
  opacity: 0.6;
}
.rounded-full {
  border-radius: 50%;
}
.z-10 {
  z-index: 10;
}

.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bg-black {
  background-color: black;
}
.opacity-40 {
  opacity: 0.4;
}
.z-10 {
  z-index: -1;
}
.hero-background {
  background-image: url("./assets/images/all-products-1.jpeg");
  background-size: cover;
  background-position: top center;
  height: 100vh;
}
.hero-background-1 {
  background-image: url("./assets/images/about-us.jpeg");
  background-size: cover;
  background-position: top center;
  height: 100vh;
}
.hero-background-2 {
  background-image: url("./assets/images/contact-us.jpeg");
  background-size: cover;
  background-position: top center;
  height: 100vh;
}


@media screen and (min-width: 1000px) {
  .hero-background-3 {
    background-image: url("./assets/images/about-shape-3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
}
.rewiew-background{
  background-image: url('./assets/images/video-shape-1.png');
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
/* Loader.css */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #2e982d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.submit-loader{
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}